{
    "extends": [
      "react-app",
      "airbnb",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "plugins": ["react", "react-hooks", "import", "jsx-a11y"],
    "rules": {
      // Reglas personalizadas de ESLint
    }
  }
  