body {
  margin: 0;
  background: #E9E9E9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.select > fieldset, 
.search > div > fieldset{
  border: none!important;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.flex-center {
  display: flex;
  align-items: center;
}
.oculto {
  display: none!important;
}
.visible {
  display: flex!important;
  z-index: 0!important;
  justify-content: center;
  align-items: center;
  position: absolute!important;
  width: 45px;
  height: 45px;
  bottom:65px;
  right: 10px;
}
.visible > svg {
  margin: 0!important;
}
* {
  position: relative;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
  margin: 0;
}
.conteiner-list {
  padding-bottom: 100px;
}
input {
  background-color: white!important;
  width: 100%!important;
}
li {
  list-style: none;
}
.lista-prod {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 5px;
  font-size: 30px;
  text-align: center;
}
.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  width: 100%;
  display: flex!important;
  justify-content:space-between!important;
  align-items: center!important;
}
.flex-between-mobile {
  width: 100%;
  display: flex!important;
  justify-content:space-between!important;
  align-items: center!important;
}
.flex-start-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.flex-start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.accordion {
  background-color: #D7AED2!important;
}
.accordion > div:first-child {
  width: 100%;
  display: flex!important;
  justify-content:space-between!important;
  align-items: center!important;
}
.pad20 {
  padding: 20px;
}
.search > div, .search > div > input{
  border-radius: 10px;
}
.fixed-menu {
  position: fixed!important;
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  bottom: 0;
  width: 100%;
  z-index: 9;
  max-width: 1150px;
}
/* .fixed-menu > div {
  height: 100%;
} */
.header {
  color: white;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.titulo {
  min-height: 40px;
}
.w-100 {
  width: 100%;
}
.font-vigencia {
  font-size: 11px;
  color: red;
}
.absolute-btn {
  position: fixed;
  bottom: 10px;
  z-index: 2;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #A47A9E; /* Color de fondo al hacer scroll */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.descuento {
  position: absolute;
  background-color: #1DFDC7;
  color: black;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: auto;
  font-size: 18px;
  border-radius: 0 0 20px 0;
  padding: 8px 16px;
}
.card {
  position: relative;
  background: #D7AED2;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-product {
  border-radius: 8px!important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-product:hover {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}
.full-width {
  height: 100vh;
}
.envio {
  font-size: 12px;
  color: green;
}
.background-image {
  background-image: url(../public/background.jpeg);
  background-size: cover;
}

.flex { display: flex!important; }
.flex-direction { flex-direction: column!important; }
.justify-center { justify-content: center!important; }
.items-center { align-items: center!important;}
.items-self-center { align-self: center;}

.mar2 { margin: 2px!important; }
.mar4 { margin: 4px!important; }
.mar6 { margin: 6px!important; }
.mar8 { margin: 8px!important; }
.mar10 { margin: 10px!important; }

.mar-l2 { margin-left: 2px!important; }
.mar-l4 { margin-left: 4px!important; }
.mar-l6 { margin-left: 6px!important; }
.mar-l8 { margin-left: 8px!important; }
.mar-l10 { margin-left: 10px!important; }

.mar-r2 { margin-right: 2px!important; }
.mar-r4 { margin-right: 4px!important; }
.mar-r6 { margin-right: 6px!important; }
.mar-r8 { margin-right: 8px!important; }
.mar-r10 { margin-right: 10px!important; }

.mar-b2 { margin-bottom: 2px!important; }
.mar-b4 { margin-bottom: 4px!important; }
.mar-b6 { margin-bottom: 6px!important; }
.mar-b8 { margin-bottom: 8px!important; }
.mar-b10 { margin-bottom: 10px!important; }
.mar-b20 { margin-bottom: 20px!important; }
.mar-b30 { margin-bottom: 30px!important; }

.mar-t30 { margin-top: 30px!important; }

@media screen and (max-width: 1024px) {
  .lista-prod {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 968px) {
  .absolute-btn {
    bottom: 10px;
    z-index: 10;
  }
}
@media screen and (max-width:600px) {
  .lista-prod {
    display: grid;
    grid-template-columns: auto;
  }
  .flex-between-mobile {
    flex-direction: column-reverse!important;
  }
  .fixed-menu {
    left: 0;
  }
/*   .header.sticky {
    background-color: #9DCDFF!important;
  } */
  .select > fieldset, .search > div > fieldset{
    border: none!important;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  }
}
